{%extends 'base.html'%}

{%block main_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 shadow mt-5 rounded p-5 bg-light">
            <h1>UPDATE</h1>
            <form action="" method="post">
                {%csrf_token%}
            
                {{form}}
            
                <button type="submit" class="form-control bg-primary btn btn-primary">change</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
   </div>


{%endblock%}




